* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
}

.title-type {
  display: inline;
  background-color: #141414;
  padding: 0 1rem;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.container-padding-lr {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.container-padding-tb {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

@media (max-width: 768px) {
  .container-padding-lr {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .container-padding-tb {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.fs-title {
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.fs-text {
  font-size: 1.8rem;
}

.fs-subtext {
  font-size: 1.2rem;
}

@media (max-width: 980px) {
  .fs-menu-text-adj {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .fs-title {
    font-size: 2.8rem;
  }
  .fs-text {
    font-size: 1.2rem;
  }
  .fs-subtext {
    font-size: 1rem;
  }
}

.fc-title {
  color: #8cffd9;
}

.fc-text {
  color: #141414;
}

.fc-invert-text {
  color: whitesmoke;
}

.fc-subtext {
  color: #7d7d7d;
}

.fc-light-subtext {
  color: #d5fff1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-g-20 {
  gap: 20px;
}

.grid-gtc-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-gtc-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-c-all {
  grid-column: 0/-1;
}

.grid-c-1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.grid-c-1t3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.grid-c-1t4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.grid-c-2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.grid-c-2t4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.grid-c-3 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid-gtr-a {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.grid-gar-300 {
  grid-auto-rows: 300px;
}

.grid-r-s2 {
  grid-row: span 2;
}

.grid-r-1 {
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-r-1t3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grid-r-1t4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.grid-r-2t3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid-r-10 {
  -ms-grid-row: 10;
  grid-row: 10;
}

.grid-r-1t11 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
}

@media (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

.nav {
  background-color: #141414;
}

.nav__top .search-box i {
  margin-right: 1rem;
}

.nav__top .search-box input {
  background-color: #141414;
  width: 350px;
  height: 42px;
  border: none;
  border-bottom: 5px solid #8cffd9;
}

.nav__top .search-box input::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 1.8rem;
}

.nav__top .search-box input:-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.8rem;
}

.nav__top .search-box input::-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.8rem;
}

.nav__top .search-box input::placeholder {
  color: whitesmoke;
  font-size: 1.8rem;
}

.nav__top .search-box input:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 5px -5px #d5fff1;
          box-shadow: 0 5px 5px -5px #d5fff1;
}

.nav__burg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.nav__burg span {
  background-color: whitesmoke;
  display: block;
  width: 100%;
  height: 20%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.nav__burg:hover span {
  background-color: #d5fff1;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  padding: 1.8rem;
}

.nav ul li::after {
  content: "";
  background-color: #8cffd9;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  left: 50%;
  -webkit-transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.nav ul li:hover::after {
  width: 100%;
  left: 0px;
}

@media (max-width: 1135px) {
  .nav ul li a {
    padding: 1rem;
  }
  .nav ul li:first-child a {
    padding-left: 1.8rem;
  }
  .nav ul li:last-child a {
    padding-right: 1.8rem;
  }
}

.top-news {
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-news__pannel {
  background-color: #d5fff1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.top-news__pannel .pannel-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
}

.top-news__pannel:first-child .pannel-img {
  background-image: url(/images/marrom.jpg);
}

.top-news__pannel:nth-child(2) .pannel-img {
  background-image: url(/images/world-map.jpg);
}

.top-news__pannel:last-child .pannel-img {
  background-image: url(/images/ox.jpg);
}

.top-news__pannel:hover .pannel-img {
  height: 101%;
}

.top-news__pannel .pannel-text {
  background-color: rgba(20, 20, 20, 0.7);
}

@media (max-width: 768px) {
  .top-news__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .top-news__grid .top-news__pannel:first-child {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.recent-news__1 .news-1 {
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.recent-news__1 .news-1 h3 {
  margin: 1rem 0;
}

.recent-news__1 .news-1:hover {
  opacity: 0.75;
}

.recent-news__block-w-img .news-w-img .img-box {
  overflow: hidden;
  height: 150px;
}

.recent-news__block-w-img .news-w-img .img-box img {
  height: 100%;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.recent-news__block-w-img .news-w-img .text-box {
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.recent-news__block-w-img .news-w-img:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recent-news__block-w-img .news-w-img:hover .text-box {
  opacity: 0.75;
}

.recent-news__block-wo-img .news-wo-img {
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.recent-news__block-wo-img .news-wo-img:hover {
  opacity: 0.75;
}

.recent-news .side-box .div-a,
.recent-news .side-box .div-b {
  border: 2px solid #141414;
}

.recent-news .side-box .div-a {
  height: 40%;
}

.recent-news .side-box .div-b {
  margin-top: 1rem;
  height: 100%;
}

@media (max-width: 1170px) {
  .recent-news {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .recent-news .side-box {
    height: 250px;
    grid-column: span 2;
    -ms-grid-row: 4;
    grid-row: 4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .recent-news .side-box .div-a {
    width: 40%;
    height: 100%;
  }
  .recent-news .side-box .div-b {
    margin-top: 0;
    margin-left: 1rem;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .recent-news {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .recent-news__block-w-img, .recent-news__block-wo-img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .recent-news__block-w-img .news-w-img .img-box {
    height: 100px;
  }
  .recent-news .side-box {
    -ms-grid-row: 7;
    grid-row: 7;
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .recent-news__block-w-img .news-w-img .img-box {
    position: relative;
    width: 100%;
  }
  .recent-news__block-w-img .news-w-img .img-box img {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0s;
    transition: -webkit-transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s;
  }
  .recent-news__block-w-img .news-w-img:hover .img-box img {
    -webkit-transform: translateY(50%) scale(1.1);
            transform: translateY(50%) scale(1.1);
  }
}

@media (max-width: 500px) {
  .recent-news .side-box {
    height: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recent-news .side-box .div-a,
  .recent-news .side-box .div-b {
    width: 350px;
  }
  .recent-news .side-box .div-b {
    margin-left: 0;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */