* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
}

// component
.title-type {
  display: inline;
  background-color: $color-black;
  padding: 0 1rem;
}

// helper
// container
.container {
  max-width: 1920px;
  margin: 0 auto;

  &-padding-lr {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  &-padding-tb {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

@media (max-width: 768px) {
  .container {
    &-padding-lr {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }

    &-padding-tb {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}

// font-size
.fs {
  &-title {
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-text {
    font-size: 1.8rem;
  }

  &-subtext {
    font-size: 1.2rem;
  }
}

@media (max-width: 980px) {
  .fs {
    &-title {
    }

    &-menu-text-adj {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 768px) {
  .fs {
    &-title {
      font-size: 2.8rem;
    }

    &-text {
      font-size: 1.2rem;
    }

    &-subtext {
      font-size: 1rem;
    }
  }
}

// font-color
.fc {
  &-title {
    color: $color-highlight-green;
  }

  &-text {
    color: $color-black;
  }

  &-invert-text {
    color: $color-white;
  }

  &-subtext {
    color: $color-grey;
  }

  &-light-subtext {
    color: $color-light-green;
  }
}

// flex
.flex {
  display: flex;

  &-fdc {
    flex-direction: column;
  }

  &-jcc {
    justify-content: center;
  }

  &-jcsb {
    justify-content: space-between;
  }

  &-aic {
    align-items: center;
  }
}

// grid
.grid {
  display: grid;

  &-g-20 {
    gap: 20px;
  }

  &-gtc-2 {
    grid-template-columns: 1fr 1fr;
  }

  &-gtc-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &-c-all {
    grid-column: 0/-1;
  }

  &-c-1 {
    grid-column: 1;
  }

  &-c-1t3 {
    grid-column: 1 / 3;
  }

  &-c-1t4 {
    grid-column: 1 / 4;
  }

  &-c-2 {
    grid-column: 2;
  }

  &-c-2t4 {
    grid-column: 2 / 4;
  }

  &-c-3 {
    grid-column: 3;
  }

  &-gtr-a {
    grid-template-rows: 1fr 1fr;
  }

  &-gar-300 {
    grid-auto-rows: 300px;
  }

  &-r-s2 {
    grid-row: span 2;
  }

  &-r-1 {
    grid-row: 1;
  }

  &-r-1t3 {
    grid-row: 1 / 3;
  }

  &-r-2t3 {
    grid-row: 2 / 3;
  }

  &-r-10 {
    grid-row: 10;
  }

  &-r-1t11 {
    grid-row: 1 / 11;
  }
}

// hide on
@media (min-width: 769px) {
  .hide-on {
    &-desktop {
      display: none;
    }

    &-mobile {
    }
  }
}

@media (max-width: 768px) {
  .hide-on {
    &-desktop {
    }

    &-mobile {
      display: none;
    }
  }
}
