// recent news ------------------------------------------------------
.recent-news {
  &__1 {
    .news-1 {
      transition: opacity 0.25s ease-in-out;

      h3 {
        margin: 1rem 0;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__block-w-img {
    .news-w-img {
      .img-box {
        overflow: hidden;
        height: 150px;

        img {
          height: 100%;

          transition: transform 0.25s ease-in-out;
        }
      }

      .text-box {
        transition: opacity 0.25s ease-in-out;
      }

      &:hover {
        .img-box {
          img {
            transform: scale(1.1);
          }
        }

        .text-box {
          opacity: 0.75;
        }
      }
    }
  }

  &__block-wo-img {
    .news-wo-img {
      transition: opacity 0.25s ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .side-box {
    .div-a,
    .div-b {
      border: 2px solid $color-black;
    }

    .div-a {
      height: 40%;
    }

    .div-b {
      margin-top: 1rem;
      height: 100%;
    }
  }

  @media (max-width: 1170px) {
    grid-template-columns: 1fr 1fr;

    .side-box {
      height: 250px;
      grid-column: span 2;
      grid-row: 4;

      flex-direction: row;

      .div-a {
        width: 40%;
        height: 100%;
      }

      .div-b {
        margin-top: 0;
        margin-left: 1rem;
        width: 60%;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    &__block-w-img,
    &__block-wo-img {
      grid-column: 1;
    }

    &__block-w-img {
      .news-w-img {
        .img-box {
          height: 100px;
        }
      }
    }

    .side-box {
      grid-row: 7;
    }
  }

  @media (max-width: 768px) and (min-width: 500px) {
    &__block-w-img {
      .news-w-img {
        .img-box {
          position: relative;
          width: 100%;

          img {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);

            width: 100%;
            height: auto;

            transition: transform 0s;
          }
        }

        &:hover {
          .img-box {
            img {
              transform: translateY(50%) scale(1.1);
            }
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .side-box {
      height: 350px;
      flex-direction: column;
      align-items: center;

      .div-a,
      .div-b {
        width: 350px;
      }

      .div-b {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}

// follow us --------------------------------------------------------
.follow-us {
  background-color: $color-highlight-green;
  margin: 50px 0;

  .follow-us__links {
    padding: 0.5rem;

    a {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}

// videos -----------------------------------------------------------
.videos {
  &__head {
    .move-videos-btn {
      .btn-l,
      .btn-r {
        cursor: pointer;
        background-color: $color-white;
        width: 2rem;
        height: 2rem;
        border: none;
        border-bottom: 5px solid $color-black;
      }

      .btn-l {
        border-left: 5px solid $color-black;
        transform: rotate(45deg);
      }

      .btn-r {
        border-right: 5px solid $color-black;
        transform: rotate(-45deg);
      }
    }
  }

  &__box {
    //overflow: hidden;

    .carousel-box {
      position: relative;

      .videos-pannel {
        position: absolute;
        width: 360px;
        margin-right: 2rem;

        .img-box {
          width: 360px;
          height: 220px;
          overflow: hidden;

          img {
            width: 100%;
            transition: transform 0.25s ease-in-out;
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      .hide-left {
        left: -380px;
      }

      .hide-right {
        right: -400px;
      }

      .active {
        &-0 {
          left: 0px;
        }

        &-1 {
          left: 380px;
        }

        &-2 {
          left: 760px;
        }

        &-3 {
          left: 1140px;
        }

        &-4 {
          left: 1520px;
        }
      }
    }
  }
}
