@mixin img-text-focus {
  cursor: pointer;
  .img-box {
    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.25s ease-in-out;
    }
  }

  .text-box {
    transition: opacity 0.25s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    .text-box {
      opacity: 0.75;
    }
  }
}
